*{
    margin: 0px;
    padding: 0px;
}
body{
    
  font-family: "Gabarito", sans-serif;
 
}

.navbar{
padding: 10px;
display: flex;
justify-content: space-between;
border-bottom: solid black 1px;
gap: 10px;
align-items: center;
}
.navbar__s1__title{
    color:#A435f0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width:60%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #A435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;


}